{% extends 'emp_base.html' %}

{% block main %}

<div class="card shadow m-2">
    <div class="card-body">
        <a href="{%url 'edit_myeducation' %}" class="btn btn-primary float-right btn-sm">Edit My Education  Detail</a>
        <h5 class="p-2 text-danger" style="border-bottom:2px solid orange">My Education Detail</h5>
        <div class="container-fluid">
            <table class="table table-bordered">
                <tr>
                    <th>Post Graduation Course Name</th>
                    <td>{{education.coursepg}}</td>
                </tr>
                <tr>
                    <th>Post Graduation College Name</th>
                    <td>{{education.schoolclgpg}}</td>
                </tr>
                <tr>
                    <th>Post Graduation Year Of Passing</th>
                    <td>{{education.yearofpassingpg}}</td>
                </tr>
                <tr>
                    <th>Post Graduation Percentage</th>
                    <td>{{education.percentagepg}}</td>
                </tr>

                <tr>
                    <th>Graduation Course Name</th>
                    <td>{{education.coursegra}}</td>
                </tr>
                <tr>
                    <th>Graduation College Name</th>
                    <td>{{education.schoolclggra}}</td>
                </tr>
                <tr>
                    <th>Graduation Year Of Passing</th>
                    <td>{{education.yearofpassinggra}}</td>
                </tr>
                <tr>
                    <th>Graduation Percentage</th>
                    <td>{{education.percentagegra}}</td>
                </tr>

                <tr>
                    <th>SSC Course Name</th>
                    <td>{{education.coursessc}}</td>
                </tr>
                <tr>
                    <th>SSC College Name</th>
                    <td>{{education.schoolclgssc}}</td>
                </tr>
                <tr>
                    <th>SSC Year Of Passing</th>
                    <td>{{education.yearofpassingssc}}</td>
                </tr>
                <tr>
                    <th>SSC Percentage</th>
                    <td>{{education.percentagessc}}</td>
                </tr>

                <tr>
                    <th>HSC Course Name</th>
                    <td>{{education.coursehsc}}</td>
                </tr>
                <tr>
                    <th>HSC College Name</th>
                    <td>{{education.schoolclghsc}}</td>
                </tr>
                <tr>
                    <th>HSC Year Of Passing</th>
                    <td>{{education.yearofpassinghsc}}</td>
                </tr>
                <tr>
                    <th>HSC Percentage</th>
                    <td>{{education.percentagehsc}}</td>
                </tr>
            </table>
        </div> 
    </div>      
</div>


{% endblock %}